In [1]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [3]:
# Load dataset
demographics_data = pd.read_csv('demographics_train.csv')
election_data = pd.read_csv('election_train.csv')

In [4]:
# demographics_data.shape

In [5]:
# election_data.shape

In [6]:
# Map State names to abbreviations
demographics_data['State'] = demographics_data['State'].map(us_state_abbrev)

In [7]:
# Convert all counties to lowercase
demographics_data['County'] = demographics_data['County'].str.lower()
election_data['County'] = election_data['County'].str.lower()

In [8]:
# Sort the data by State, County for cleaner output
demographics_data = demographics_data.sort_values(by=['State','County'])
election_data = election_data.sort_values(by=['State','County'])

In [9]:
# Remove 'County' from country names
for i in range(len(election_data['County'])):
    election_data['County'][i] = election_data['County'][i].replace(' county', '')

<ipython-input-9-1104b2c432b3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  election_data['County'][i] = election_data['County'][i].replace(' county', '')

In [10]:
election_wide_data = pd.pivot_table(election_data, index=['Year','State','County','Office'], columns='Party', values='Votes').reset_index()

In [11]:
election_wide_data.shape

(1205, 6)

In [12]:
merged_data = pd.merge(demographics_data, election_wide_data, left_index=True, on = ['State','County'], how='inner');

In [13]:
merged_data.head()

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,...,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural,Year,Office,Democratic,Republican
0,AZ,apache,4001,72346,0,18.571863,0.486551,5.947806,1.719515,50.598513,...,13.322091,32460,15.807433,21.758252,88.941063,74.061076,2018,US Senator,16298.0,7810.0
1,AZ,cochise,4003,128177,92915,56.299492,3.714395,34.403208,11.458374,49.069646,...,19.756275,45383,8.567108,13.409171,76.837055,36.301067,2018,US Senator,17383.0,26929.0
2,AZ,coconino,4005,138064,104265,54.619597,1.342855,13.711033,4.825298,50.581614,...,10.873943,51106,8.238305,11.085381,65.791439,31.466066,2018,US Senator,34240.0,19249.0
3,AZ,gila,4007,53179,0,63.222325,0.552850,18.548675,4.249798,50.296170,...,26.397638,40593,12.129932,15.729958,82.262624,41.062000,2018,US Senator,7643.0,12180.0
4,AZ,graham,4009,37529,0,51.461536,1.811932,32.097844,4.385942,46.313518,...,12.315809,47422,14.424104,14.580797,86.675944,46.437399,2018,US Senator,3368.0,6870.0

In [14]:
merged_data.shape

(1200, 21)

In [15]:
merged_data.isnull().sum()

State                                    0
County                                   0
FIPS                                     0
Total Population                         0
Citizen Voting-Age Population            0
Percent White, not Hispanic or Latino    0
Percent Black, not Hispanic or Latino    0
Percent Hispanic or Latino               0
Percent Foreign Born                     0
Percent Female                           0
Percent Age 29 and Under                 0
Percent Age 65 and Older                 0
Median Household Income                  0
Percent Unemployed                       0
Percent Less than High School Degree     0
Percent Less than Bachelor's Degree      0
Percent Rural                            0
Year                                     0
Office                                   0
Democratic                               3
Republican                               2
dtype: int64

In [16]:
bool1 = pd.isnull(merged_data['Republican'])
merged_data[bool1]

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,...,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural,Year,Office,Democratic,Republican
753,TX,bee,48025,32706,0,32.660674,7.989360,57.909864,4.344769,39.579894,...,11.514707,44005,6.065048,28.602944,91.094503,42.977308,2018,US Senator,2811.0,NaN
1119,WI,lafayette,55065,16793,0,94.771631,0.339427,3.507414,2.286667,49.199071,...,16.709343,53038,2.998885,10.123457,82.336861,100.000000,2018,US Senator,3592.0,NaN

In [17]:
bool2 = pd.isnull(merged_data['Democratic'])
merged_data[bool2]

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,...,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural,Year,Office,Democratic,Republican
425,NE,lancaster,31109,301707,0,82.659667,3.783472,6.531834,7.523856,49.891782,...,12.175057,53730,4.372984,6.636272,62.697684,8.253126,2018,US Senator,NaN,49449.0
716,TN,meigs,47121,11804,0,94.713656,1.330058,1.465605,1.067435,50.626906,...,19.662826,35209,12.544170,21.141176,91.176471,100.000000,2018,US Senator,NaN,2694.0
869,TX,menard,48327,2163,0,56.310680,1.248266,39.389736,4.299584,46.833102,...,22.468793,37917,8.360836,21.113990,84.909326,100.000000,2018,US Senator,NaN,632.0

In [16]:
merged_data.dtypes

State                                     object
County                                    object
FIPS                                       int64
Total Population                           int64
Citizen Voting-Age Population              int64
Percent White, not Hispanic or Latino    float64
Percent Black, not Hispanic or Latino    float64
Percent Hispanic or Latino               float64
Percent Foreign Born                     float64
Percent Female                           float64
Percent Age 29 and Under                 float64
Percent Age 65 and Older                 float64
Median Household Income                    int64
Percent Unemployed                       float64
Percent Less than High School Degree     float64
Percent Less than Bachelor's Degree      float64
Percent Rural                            float64
Year                                       int64
Office                                    object
Democratic                               float64
Republican                               float64
dtype: object

**Question 3:**
**There are 21 variables and the data types of the all the variables are:
State                                     object
County                                    object
FIPS                                       int64
Total Population                           int64
Citizen Voting-Age Population              int64
Percent White, not Hispanic or Latino    float64
Percent Black, not Hispanic or Latino    float64
Percent Hispanic or Latino               float64
Percent Foreign Born                     float64
Percent Female                           float64
Percent Age 29 and Under                 float64
Percent Age 65 and Older                 float64
Median Household Income                    int64
Percent Unemployed                       float64
Percent Less than High School Degree     float64
Percent Less than Bachelor's Degree      float64
Percent Rural                            float64
Year                                       int64
Office                                    object
Democratic                               float64
Republican                               float64
**
** Reduntant Variables:  **

In [23]:
merged_data.isnull().sum()

State                                    0
County                                   0
FIPS                                     0
Total Population                         0
Citizen Voting-Age Population            0
Percent White, not Hispanic or Latino    0
Percent Black, not Hispanic or Latino    0
Percent Hispanic or Latino               0
Percent Foreign Born                     0
Percent Female                           0
Percent Age 29 and Under                 0
Percent Age 65 and Older                 0
Median Household Income                  0
Percent Unemployed                       0
Percent Less than High School Degree     0
Percent Less than Bachelor's Degree      0
Percent Rural                            0
Year                                     0
Office                                   0
Democratic                               3
Republican                               2
dtype: int64

**Question 4: There are 5 missing values 3 from democratic and 2 from republican. We can ignore the missing values **

In [30]:
merged_data.loc[merged_data['Democratic'] > merged_data['Republican'], 'Party'] = 1 
merged_data.loc[merged_data['Republican'] > merged_data['Democratic'], 'Party'] = 0

In [32]:
print(merged_data['Party'])

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
1200    0.0
1201    0.0
1202    0.0
1203    0.0
1204    0.0
Name: Party, Length: 1200, dtype: float64

In [33]:
mean_household_democratic = merged_data['Median Household Income'].mean()

In [34]:
print(mean_household)

50098.51666666667

In [37]:
median_household = merged_data['Median Household Income'].median()

In [38]:
print(median_household)

48391.0